<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Prueba de regresion">
    <test name="Registro">
        <classes>
            <class name="MercoryTours"/>
            <class name="MercoryTours"/>

        </classes>
    </test>
</suite>